<!-- <div *ngIf="courses.length >0;">
  <ul>
    <li *ngFor="let course of courses">{{course}}</li>
  </ul>
</div>

<div *ngIf="courses.length ===0">
 <h2>Sorry No courses</h2>
</div> -->

<div *ngIf="courses.length >0;then courseList else noCourses"></div>

<ng-template #courseList>
  <ul>
    <li *ngFor="let course of courses">{{course}}</li>
  </ul>
</ng-template>

<!-- we naming this block as noCourses -->

<ng-template #noCourses >
 <h2>Sorry No courses</h2>
</ng-template>

<!-- this also not render -->

<ng-template>
  <p>hiii</p>
</ng-template>

<!-- this will not render -->
<!-- <ng-template *ngIf="1>0">
  <p>hi</p>
</ng-template> -->

<!-- this will render  -->

<ng-template [ngIf]="1>0">
  <p>hi</p>
</ng-template>

<!-- which means ng-template rendered via other ng-directives or template reference variables (i.e)#variableName -->