<!-- <div *ngIf="courses.length >0;">
  <ul>
    <li *ngFor="let course of courses">{{course}}</li>
  </ul>
</div>

<div *ngIf="courses.length ===0">
 <h2>Sorry No courses</h2>
</div> -->

<div *ngIf="courses.length >0;then courseList else noCourses"></div>

<ng-template #courseList>
  <ul>
    <li *ngFor="let course of courses">{{course}}</li>
  </ul>
</ng-template>

<!-- we naming this block as noCourses -->

<ng-template #noCourses >
 <h2>Sorry No courses</h2>
</ng-template>

<!-- this also not render -->

<ng-template>
  <p>hiii</p>
</ng-template>

<!-- this will not render -->
<!-- <ng-template *ngIf="1>0">
  <p>hi</p>
</ng-template> -->

<!-- this will render  -->

<ng-template [ngIf]="1>0">
  <p>hi</p>
</ng-template>
<!-- <div [hidden]="courses.length === 0"> 
  List of Courses
</div>
<div [hidden]="courses.length >0">
no courses
</div> -->
<!-- which means ng-template rendered via other ng-directives or template reference variables (i.e)#variableName -->

<ul class="nav nav-pills">
  <!-- [class.active] class binding -->
  <li class="nav-item "><a  class="nav-link" [class.active]="viewMode=='map'" (click)="viewMode='map'">Map View</a></li>
  <li class="nav-item"><a  class="nav-link" [class.active]="viewMode=='list'" (click)="viewMode='list'">List View</a></li>
</ul>
<!-- rendering part based on above click events -->

<!-- [ngSwitch] is default directive and this is called property binding  -->
<div [ngSwitch]="viewMode">
  <!-- if viewMode="map" -->
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>something went wrong</div>
</div>
<h1>Rendering Products using ngForOf directive</h1>
<button (click)="onAdd()">Add Item</button>
<ul>
  <li *ngFor="let product of products;index as i even as isEven">
    {{i}}-{{product.name}} <span *ngIf='isEven'>EVEN</span>
    <button  (click)="onRemove(product)"class="btn btn-danger">remove</button>
    <button  (click)="onChange(product)"class="btn btn-primary">Update</button>
  </li>
</ul>

<h2>Simulating Rendering data from external apis</h2>
<button (click)="loadProducts()">Add Item</button>
<ul>
  <!-- trackProduct is function reference use this for large objects every time redownloading data its compares if object has same id it wont redownload -->
  <li *ngFor="let product of productsTwo;trackBy:trackProduct">
    {{product.name}}  
  </li>
</ul>
<!-- <span class="glyphicon glyphicon-star-empty
"></span>
<span class="glyphicon glyphicon-star
"></span> -->
<!-- <span class="glyphicon" 
[class.glyphicon-star]=isSelected
[class.glyphicon-star-empty]=!isSelected
></span> -->
<span class="glyphicon"
[ngClass]="{
'glyphicon-star':isSelected,
'glyphicon-star-empty':!isSelected
}"
></span>
<button class="btn btn-success" (click)="toggleFavourite()"> {{isSelected ? "Un Favourite me)":"Favourite me"}}</button>
<h3>ngStyle</h3>
<button
    [style.backgroundColor]="canSave ? 'green':'gray'"
    [style.color]="canSave ? 'white' : 'black'"
    [style.fontWeight]="canSave ?'bold' :'normal'"
>save</button>

<h2>appInputFormat directive</h2>
<!-- <input type="text" appInputFormat> -->
<!-- <input type="text" appInputFormat [format]="'uppercase'"> -->
<input type="text" [appInputFormat]="'uppercase'"> 

<zippy title="Shipping Details"> 
  Shipping Details Contents
</zippy>